<form action="/genres/upsert" role="form" method="post">    //defining what the form page will look for creating and editing new genres
    <div>
        <h1>{{title}}</h1>
        <label for="genre_name">Genre Name</label>
        <input type="text" id="genre_name" name="genreName" {{#if genre}}value="{{genre.genreName}}"{{/if}}> //checking if the genre is given
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    {{#if genre}}
        <div>
            <h2>{{genre.genreName}}</h2>
            <input type="hidden" name="id" value="{{genreIdx}}">    //checkingif the genre id is new
        </div>
    {{/if}}
</form>