<h1>{{title}}</h1>      //genre index page listing out each genre and linking to the edit page
<a href="/genres/form">Add a Genre</a>
<ul>
    {{#each genres}}
        <li>{{genreName}}
            <a href="/genres/edit?id={{@index}}">edit</a>   
        </li>
    {{/each}}
</ul>