<form action="/books/create" role="form" method="post">
  <div>
    <h1>Books form</h1>
    <label for="bookTitle">Title</label>
    <input type="text" id="bookTitle" name="title">
  </div>
  <div>
    <label for="bookYear">Year published</label>
    <input type="text" id="bookYear" name="publishingYear">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>